# Rename to .env and fill values
DATABASE_URL=postgresql://user:password@localhost:5432/erp
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=super-secret
CLOUDINARY_URL=
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=
